.container-top{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
}
.indexheader{
    display: grid;
    grid-template: 1/2;
    grid-row: 2/3;
    color: white;
    grid-template-columns: repeat(3, 1fr);
    
}
.rubrik{
    grid-column: 2/3;
}
.hamburger{
    grid-column: 3/4;
}

.container-searchres{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    width: 80%;
    margin-top: 20px;

}
   
.search-results {
    margin: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .grid-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
  }
  
