*{
    margin: 0%;
    padding: 0;

}
/*Dessa raderna nollställer alla marginaler och padding för alla element på sidan.*/
body{
    background-color: darkblue;

}
/*Bas bakgrundsfärg*/
li{
    display: inline;
}
/*Detta tillämpas på alla listelement (li) och gör dem inline-element, vilket innebär att de visas bredvid varandra istället för på separata rader.

*/
.container-top{
    position: fixed;
    width: 100%;
}
/*Klassen "top" används för att skapa en toppmeny eller toppkontrollpanel. Den är flexibel och tar upp 100% av bredden. Den har också en viss padding och bakgrundsfärg.

*/
.top{
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    border: 10px;
    background-color: darkblue;
}

.snav-menu{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 5%;

}
/*Klassen "snav-menu" används för att skapa en mindre navigationsmeny i toppkontrollpanelen. Den använder flexbox för att centrera och placera elementen jämnt mellanrum.

*/
.snav-link{
    color: white;
    text-decoration: none;
}
/*Klassen "snav-link" används för att styla länkarna i navigationsmenyn. Den sätter textfärgen till vit och tar bort understrykning från länkarna.

*/
header{
    z-index: 99;
}
/*Detta sätter z-index-värdet för headerelementet till 99. Z-index används för att definiera staplingsordningen för element, där högre värden placeras över element med lägre värden.

*/
.hamburger{
    position: relative;
    display: none;
    margin-left: 55%;
    cursor: pointer;
    width: 35px ;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 98;

}
/*Klassen "hamburger" används för att skapa en knapp med ett hamburgarikon, vanligtvis används den för att visa en dold sidonavigering på mobila enheter. Här ställs positionen till relativ, vilket gör att den kan placeras relativt till sitt förälderelement. Den har också en display-inställning av "none" som gör att den inte visas som standard. Den har en margin-left på 55% för att placera den till höger på sidan. Dess bredd är 35px och andra egenskaper sätts för att ändra utseendet på knappen.

*/
.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 7px 0px;
    transition: 0.4s;
}
/*Dessa regler används för att skapa de tre horisontella linjerna som utgör hamburgarikonen. De har en viss bredd, höjd, bakgrundsfärg, marginal och övergångseffekt.

*/
.hamburger.is-active:before{
     transform: rotate(-45deg) translate(-6px, 6px);
}
.hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px, -9px); 
}    
.hamburger.is-active .bar{
    opacity: 0;
}
/*Dessa regler används för att ändra utseendet på hamburgarikonen när den är i "aktivt" tillstånd. Genom att tillämpa en transformering och ändra värdena för rotation och translation, roteras och flyttas de horisontella linjerna för att bilda ett kryss.

*/

.bar{
    display: block;
    width: 35px;
    height: 3px;
    margin: 9px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    
}
/*Detta definierar stilen för baren i hamburgarikonen. Den har en viss bredd, höjd, marginal och bakgrundsfärg. Övergångseffekter används för att skapa smidiga övergångar.

*/
.sidenav{
    display: none;
    position: fixed;
    left: 100%;
    top: 90px;
    width: 50%;
     min-height: 30vh;
     z-index: 98;
     transition:  0.4s;
}
/*Klassen "sidenav" används för att skapa en sidonavigering. Som standard är den dold (display: none), men positionerad som fast, och den placeras till höger om sidan. Den har en viss bredd och höjd och z-index-värde. Övergångseffekter används för att ändra positionen smidigt.

*/
.sidenav.is-active{
    left: 50%;
    min-width: 500px;
}
/*Sidonavigeringen syns när den blir aktiverad*/
.sidenav a{
    display: block;
    text-align:  left;
    margin: 0 auto;
    width: 100%;
    padding: 10px 8px;
    padding-left: 20px;
    background-color: rgb(0, 0, 0, 0.9);
    
    color: white;
    text-decoration: none;
    opacity: 130%;
}
/*Dessa regler används för att formatera länkarna i sidonavigeringen. De är blockelement som har en viss textjustering, bredd och padding. De har också en bakgrundsfärg, textfärg, ingen understrykning och en viss opacitet.

*/
.sidenav a:hover{
    background-color: blue;
}
.side-dropdown-btn{
    background-color: black;
    border: none;
    outline: none;
}
/*Border none och outline none tar bort standardutseendet för en button*/
.sidenav-bar{
    content: '';
    display: block;
    width: 100%;
    background-color: white;
    transition: 0.4s;

}
/*Dessa regler definierar en linje som används för att dela upp innehållet i sidonavigeringen. Linjen har en viss bredd och bakgrundsfärg. Övergångseffekter används för att skapa smidiga övergångar.

*/
.indexheader{
    background-color: black;
    align-items: center;
    justify-content: center;
}
/*Denna del av koden tillämpar en svart bakgrundsfärg på indexhuvudet och centrera både horisontellt och vertikalt innehållet.

*/
.rubrik{
    align-self: center;
    margin-left: 20%;
}

nav{
    background-color: white;
}
.nav-menu{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    

}
/*Denna del av koden gör att menynavigeringselementen visas i en rad, centrerar dem horisontellt och vertikalt inom menynavigeringen.

*/
.nav-item{
    padding: 20px;
}

.dropbtn{
    color: white;
    text-decoration: none;
    border: none;
    background-color: white;
    position: center;

}
/*Denna del av koden definierar stilen för en knapp och ger den en vit bakgrundsfärg och vit textfärg.

*/
.nav-link{
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Denna del av koden definierar stilen för en länk i navigeringsmenyn, inklusive padding, textdekorering, textfärg och typsnittsrelaterade egenskaper.

*/
.nav-link:hover{
    background-color: black;
    color: white;
}
.nav-link:hover .dropdown-content{
    display: block;

}
/*Denna del av koden gör att dropdown-innehållet visas när användaren hovrar över länken i navigeringsmenyn.

*/
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: black;
    font-size: 14px;
    justify-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
/*Denna del av koden definierar stilen för dropdown-innehållet, inklusive dess positionering, bakgrundsfärg, typsnittsrelaterade egenskaper och display-status (initialt dolt).

*/
.dropdown-content a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: small;
}
/*Denna del av koden definierar stilen för länkarna inuti dropdown-innehållet, inklusive text
*/
.dropdown-content a:hover{
    transition: ease-out;
    color: rgb(49, 125, 255);
}
/*
Denna del av koden definierar stilen för länkarna i dropdown-innehållet när de hovras över, inklusive en färgövergång och en ändring av textfärg.

*/
.dropdown:hover .dropdown-content{
    transition: all 0.5s ease;  
    position: fixed;
    width: 90%;
    left: 5%;
    top: 25.4%;
}

.dropdown:hover .nav-link{
    background-color: black;
    color: rgb(49, 125, 255);
    transition: all 0.2s ease-in-out;
}
/*Denna del av koden definierar effekterna när användaren hovrar över en dropdown-knapp, inklusive positionering och animering.

*/


.content-mainpicture{
    width: 70%;
    min-width: 710px;
    margin: 0 auto;
    padding-top: 187px;
}
.rubrik-sökresultat{
    padding-top: 187px;
}
.container-content-brädor{
    padding-top: 200px;
    width: 100%;
}
.beskrivning-brädor{
    color: white;
    padding: 15px;
    background-color: black;
}

.beskrivning-brädor-brödtext{
    margin-top: 24px;
}
.main-content-brädor{
    color: white;
    width: 94%;
    padding: 3%;
    background-color: black;
}
.main-content-brädor-nybörjarbräda{
    padding: 5px;
}

.material-symbols-outlined{
    font-size: 220%;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    background-color: black;
    margin-left: 5px;

}
/*Denna del av koden definierar stilen för en kontursymbol inom materialerna, inklusive fontstorlek, markör, border-radie, padding, bakgrundsfärg och vänstermarginal.

*/
.material-symbols-outlined:hover{
    color: red;
    transition: 0.2s;

}

/*Denna del av koden definierar effekterna när användaren hovrar över en kontursymbol inom materialerna, inklusive en ändring av textfärg och en övergångseffekt.

*/
.material-symbols{

    width: 60px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(255, 0, 0, 0.7);
}
/*Denna del av koden definierar stilen för en symbol inom materialerna, inklusive bredd, border-radie, padding, toppmarginal och bakgrundsfärg.

*/

.material-symbols-outlined.is-active{
    color: red;
    transform: translateY(5px);
    opacity: 100%;
    background-color: white;
}
/*Denna del av koden definierar stilen för en aktiv kontursymbol inom materialerna, inklusive en ändring av textfärg, en transformering i vertikal riktning, fullständig opacitet och en bakgrundsfärg.

*/

.main-content-brädor-nybörjarbräda-bild{
    border-color: black;
    border-width: 2px;
}
#text1{
    margin-top: 145px;
    margin-left: 200px;
    padding: 5px;
    background-color: white;
    width: 190px;
    color: black;
}
/*Denna del av koden definierar stilen för texten med id "text1", inklusive toppmarginal, vänstermarginal, padding, bakgrundsfärg, bredd och textfärg.

*/
.footer{
    display: flex;
    justify-content: space-between;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    padding-bottom: 50px;
    font-weight: 500;
}
/*Denna del av koden definierar stilen för sidfoten, inklusive flex-läge, justering av innehåll, textdekorering, textfärg, bakgrundsfärg, padding och fontvikt.
*/


@media(max-width: 1000px) {
    .dropdown:hover .dropdown-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        position: fixed;
        width: 100%;
        left: 0%;
    
        top: 25%;
    }
   
    .nav-link{
        padding-left: 10px;
        padding-right: 10px;
    }
}
 /*Denna del av koden definierar regler som gäller när skärmbredden är högst 1000px. När användaren hovrar över en dropdown-knapp kommer dropdown-innehållet att visas i ett rutnätsformat med tre kolumner. Samtidigt minskas vänster- och högerpadding för navigationslänkarna.

*/

@media screen and (max-width: 710px){
    .nav-menu{
        display: none;
    }
    .hamburger{
        display: block;
  
        
    }

    .top{
        display: none;
        width: 100%;
        margin-left: 85%;
        margin-right: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        align-items: center;
        gap: 0%;
        border: 0;
        
    }
    .search-box{
        min-width: 80px;
        width: 100%;
    }
    .searchbar{
     display: none;
    }
    .content-mainpicture{
        width: 100%;
        margin: 0;
        min-width: 0;
        padding-top: 93px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    } 
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .rubrik{
        grid-column: 1/3;
        margin-left: 5%;
    }
    .sidenav{
        display: grid;
    }
    .container-content-brädor{
        width: 100%;
        margin: 0;
        min-width: 0;
        padding-top: 120px;
    }
    .beskrivning-brädor{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: auto;
        width: 100%;
    }
    .beskrivning-brädor-rubrik{
        grid-column: 1/2;
        grid-row: 1;
      }
      .beskrivning-brädor-brödtext{
        grid-column: 1/2;
        grid-row: 1;
      }
      .beskrivning-brädor-bild{
        width: 50%;
        align-self: center;
        grid-column: 1/2;
        grid-row: 2/3;
        padding-top: 10px;
        margin-left: 25%;
      }
    }
    .main-content-brädor-nybörjarbräda{
      grid-column: 1/3;
      grid-row: 1;
    }
    .main-content-brädor-nybörjarbräda-bild{
      grid-column: 1/2;
      grid-row: 2;
      width: fit-content;
      width: 200px;
    }
    .main-content-brädor{
        grid-template-columns: repeat(2, 1fr);
    }
    


@media screen and (max-width: 500px) {
    .sidenav.is-active{
        left: 0;

    }
    .sidenav{
        transition: 0.2s;
    }
}
/*Denna del av koden definierar regler som gäller när skärmbredden är högst 710px. I dessa fall göms navigationsmenyn och istället visas en hamburgermenyknapp. Andra element, som "top" och "searchbar", har sina visningsinställningar ändrade. Vissa element får också ändrad position och storlek, såsom rubriken, sidomenyn, bilder och bräddata. Dessutom används ett rutnätsformat för huvudinnehållet med två kolumner istället för ett.
*/